{% extends "base.html" %}

{% block body %}

	<div class="center">

		<ul class="nav nav-pills">
			{% if current_user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link active" href="{{ url_for('logout') }}">Logout</a><br>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('register') }}">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}">Login</a>
				</li>
			{% endif %}
		</ul>

	</div>

	<p>Users</p>
	{% for user in users %}
	<div class="list-group">
		{% if current_user.id_user == user.id_user %}
			<p class="list-group-item list-group-item-action">
				<a href="{{ url_for('unique', id_user=user.id_user) }}" >{{ user.name }}</a>
			</p>
		{% else %}
			<p class="list-group-item list-group-item-action">
				{{ user.name }}
			</p>
		{% endif %}
	</div>
	{% endfor %}

{% endblock %}