{% extends "base.html" %}

{% block title %} {{ user.name }} {% endblock %}

{% block body %}

	{% set id = user.id_user %}
	{% set name = user.name %}
	{% set email = user.email %}
	{% set date = user.date_create %}

	<ul class="list-group">
		<li class="list-group-item">ID: {{ id }}</li>
		<li class="list-group-item">Name: {{ name }}</li>
		<li class="list-group-item">Email: {{ email }}</li>
		<li class="list-group-item">Since: {{ date | format_date }}</li>
	</ul>

	<a class="btn btn-primary mt-1" href="{{ url_for('delete', id_user=user.id_user) }}" role="button">Delete me!</a>


{% endblock %}
