{% extends "base.html" %}

{% block title %} Users {% endblock %}

{% block body %}

	{% include "components/example.html" %}

	{% for user in users %}
		<div class="list-group">
			{% if current_user.id_user == user.id_user %}
				<a class="list-group-item list-group-item-action active my-1" href="{{ url_for('unique', id_user=user.id_user) }}" >{{ user.name }}</a>
			{% else %}
				<p class="list-group-item list-group-item-action disable my-1">
					{{ user.name }}
				</p>
			{% endif %}
		</div>
	{% endfor %}

{% endblock %}