{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block content %}

	{{ form.errors }}

	<form action="{{ url_for('login') }}" method="POST">
		{{ form.csrf_token }}
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			{{ form.email(class_="form-control") }}
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			{{ form.password(class_="form-control") }}
		</div>
		
		<div class="form-group form-check">
			{{ form.remember(class_="form-check-input") }}
			<label class="form-check-label" for="exampleCheck1">Remember me (7 days)</label>
		</div>
		
		{{ form.submit(class_="btn btn-info", value='Submit', src="") }}
		<!-- <button type="submit" class="btn btn-info">
			<i class="fas fa-sign-in-alt"></i> Submit
		</button> -->

		{% include "components/login.html" %}

	</form>

{% endblock %}