<ul class="nav nav-tabs mx-auto pt-5" style="width: 600px;">				
    <li class="nav-item">					
          <a class='nav-link {{ "active" if request.path == url_for("index") else "" }}' href="{{ url_for('index') }}">Index</a>
    </li>
    
    <li class="nav-item">					
        <a class='nav-link {{ "active" if request.path == url_for("users") else "" }}' href="{{ url_for('users') }}">Users</a>
    </li>		

    <li class="nav-item">					
        <a class='nav-link {{ "active" if request.path == url_for("add_book") else "" }}' href="{{ url_for('add_book') }}">Book</a>
      </li>		
    {% if not current_user.is_authenticated %}
        <li class="nav-item">
            <a class='nav-link {{ "active" if request.path == url_for("auth.login") else "" }}' href="{{ url_for('auth.login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class='nav-link {{ "active" if request.path == url_for("auth.register") else "" }}' href="{{ url_for('auth.register') }}">Register</a>
        </li>
    {% else%}
        <li class="nav-item">
            <a class='nav-link {{ "active" if request.path == url_for("auth.logout") else "" }}' href="{{ url_for('auth.logout') }}">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </li>				
    {% endif %}
</ul>